* {
	margin: 0;
	padding: 0;
}

.col-container {
	margin: 0 auto;
	display: block;
	background: #def;
}

.cols {
	display: block;
	float: left;
	background: red;
	/* height: 50px; */
	color: #000;
	padding: 10px 0;
	margin: 10px 0;
}
	.cols p { margin: 5px; }




#header {
	padding: 20px;
}


/* ===============================
 * YOUR CSS ENDS HERE
 * ===============================
 */

/* ===============================
 * Helper Classes
 * ===============================
 */
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after 	{ clear: both; }
.clearfix 			{ *zoom: 1; }

.text-left 			{ text-align: left; }
.text-right 		{ text-align: right; }
